.App {
  font-weight: 100;
  font-size: 1.5em;
}

.quote {
  @apply text-lg font-light text-center;
  color: red;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.video-container video {
  @apply w-full h-full borderPulse;
  background-color: #9BB1FF;
}

.h-700 {
  height: 700px;
}

.w-700 {
  width: 700px;
}


.borderPulse {
  animation: borderPulse 2s infinite alternate;
}

@keyframes borderPulse {
  0% {
    border: 1px solid #788BFF;
  }
  100% {
    border: 10px solid #E2FDFF;
  }
}

@media only screen and (max-width: 768px) {
  .video-container video {
    @apply w-full h-auto;
  }
}

@media only screen and (min-width: 769px) {
  .video-container video {
    @apply w-700 h-700 justify-center; 
  }
}
