.App {
  font-weight: 100;
  font-size: 1.5em;
  background-color: #6200B3
}

.quote {
  color: #B43E8F;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.video-container video {
  @apply w-full h-full borderPulse;
  background-color: #3B0086;
}

.h-700 {
  height: 700px;
}

.w-700 {
  width: 700px;
}


.borderPulse {
  animation: borderPulse 2s infinite alternate;
}

@keyframes borderPulse {
  0% {
    border: 1px solid #290628;
  }
  100% {
    border: 10px solid #EA7AF4;
  }
}

@media only screen and (max-width: 768px) {
  .video-container video {
    @apply w-full h-auto;
  }
}

@media only screen and (min-width: 769px) {
  .video-container video {
    @apply w-700 h-700 justify-center; 
  }
}
